<mat-toolbar color="primary" class="header">
  <div class="logo">
    <img src="assets/sujal.jpg" alt="logo" />
  </div>

  <span class="spacer"></span>

  <!-- Main Navigation Buttons -->
  <button mat-button routerLink="" aria-label="Login">Login</button>
  <button mat-button routerLink="/about" aria-label="About">About</button>
  <button mat-button routerLink="/contact" aria-label="Contact">Contact</button>
  <button mat-button routerLink="/jobs" aria-label="Jobs">Jobs</button>
  <button mat-button routerLink="/hire" aria-label="Hire">Hire</button>
  <button mat-button routerLink="/freelance" aria-label="Freelancers">Freelancers</button>
  <button mat-button routerLink="/home" aria-label="Home">Home</button>
  <button mat-button routerLink="/signup" aria-label="Register">Register</button>
  <!-- Add Dashboard Button -->
  <button mat-button routerLink="/dashboard" aria-label="Dashboard">Dashboard</button>

  <span class="spacer"></span>

  <!-- Icon Buttons -->
  <button mat-icon-button aria-label="Notifications">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button aria-label="Emails">
    <mat-icon>email</mat-icon>
  </button>
  <button mat-icon-button aria-label="User Profile">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
